<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.favicon.cc/logo3d/478787.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <title>Not Found</title>
</head>
<body>
    <div class="container-all">
        <div class="container-data">
            <div class="container-text">
                <h1>
                    <%= message %>
                </h1>
            </div>
            <div class="container-img">
                <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi0.kym-cdn.com%2Fphotos%2Fimages%2Fnewsfeed%2F000%2F060%2F537%2F404-not-found-boobs.png&f=1&nofb=1&ipt=635f9087817517fca0f7a48ed1df694f6e1c2782b26f997262b7485da198fc4d&ipo=images" alt="Img Not Found">
            </div>
        </div>
    </div>
</body>
</html>